<h3 class="col-sm-offset-2">Imobiliária</h3>

<div ng-init="inicializar()">
  <form novalidate ng-submit="salvar()" class="form-horizontal" ng-show="imobiliaria != null" name="imobiliariaForm">

    <div class="form-group">
      <label for="inputNome" class="col-sm-2 control-label">Nome: </label>

      <div class="col-sm-10" >
        <input type="text" class="form-control" name="nome" id="inputNome"
               ng-model="imobiliaria.nome" ng-minlength="3" ng-maxlength="60" ng-required="true" >
        <p ng-show="imobiliariaForm.nome.$invalid && imobiliariaForm.submitted" class="text-danger">
          Nome inválido. (3 a 60 caracteres)
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="inputCidade" class="col-sm-2 control-label">Cidade:</label>

      <div class="col-sm-10" >
        <select ng-model="imobiliaria.cidade" ng-options="c.nome for c in cidades | orderBy:'nome' track by c.id"
                ng-init="imobiliaria.cidade = imobiliaria.cidade"
                id="inputCidade" class="form-control" ng-required="true" name="cidade">
          <option>Selecione a cidade</option>
        </select>

        <p ng-show="imobiliariaForm.cidade.$invalid && imobiliariaForm.submitted" class="text-danger">
          A cidade é obrigatória.
        </p>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Salvar</button>

        <div class="btn btn-primary" onclick="window.history.back();">Voltar</div>
      </div>

    </div>

  </form>
</div>
