
<div>

    <h3>Imobiliárias</h3>

    <form class="well form-inline" ng-submit="listar()" >
      <div class="form-group">
        <label for="inputNome">Nome:</label>
        <input type="text" class="form-control" ng-model="nome" id="inputNome">
      </div>

      <button type="submit" class="btn btn-primary">Buscar</button>
      <a href="#/imobiliaria/novo" class="btn btn-success pull-right">Novo</a>
    </form>

    <table tr-ng-grid=""
           items="imobiliarias.content"
           enable-filtering="false"
           page-items="totalPorPagina"
           total-items="total"
           current-page="paginaAtual"
           on-data-required="listar(paginaAtual, orderBy, orderByReverse)"
           class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th field-name="id" display-name="Cod." cell-width="5em" ></th>
          <th field-name="nome" display-name="Nome" ></th>
          <th field-name="ativo" display-name="Ativo" cell-width="5em" display-align="center"></th>
          <th display-name="Editar" cell-width="5em" display-align="center" enable-sorting="false"></th>
        </tr>
      </thead>

      <tbody>
      <tr>
        <td>
          <a href="#/imobiliaria/{{gridDisplayItem.id}}" class="btn">Editar</a>
        </td>
      </tr>
      </tbody>

     </table>




</div>

