<h3 class="col-sm-offset-2">Acesso ao sistema</h3>

<div>
    <form novalidate ng-submit="loginUsuario()" class="form-horizontal" name="loginForm" >

      <div class="form-group">
        <label for="inputLogin" class="col-sm-2 control-label">Login: </label>

        <div class="col-sm-5" >
          <input type="text" class="form-control" name="login" id="inputLogin"
                 ng-model="login" ng-minlength="5" ng-maxlength="20" ng-required="true" >
          <p ng-show="loginForm.login.$invalid && loginForm.submitted" class="text-danger">
            Login inválido. (5 a 20 caracteres)
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="inputSenha" class="col-sm-2 control-label">Senha: </label>

        <div class="col-sm-5" >
          <input type="password" class="form-control" name="senha" id="inputSenha"
                 ng-model="senha" ng-minlength="5" ng-maxlength="20" ng-required="true" >
          <p ng-show="loginForm.senha.$invalid && loginForm.submitted" class="text-danger">
            Senha inválida. (5 a 20 caracteres)
          </p>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Entrar</button>

        </div>
      </div>

    </form>
</div>
