 <h3 class="col-sm-offset-2">Usuário</h3>

<div ng-init="inicializar()">
    <form novalidate ng-submit="salvar()" class="form-horizontal" ng-show="usuario != null" name="usuarioForm">

      <div class="form-group">
        <label for="inputNome" class="col-sm-2 control-label">Nome: </label>

        <div class="col-sm-10" >
          <input type="text" class="form-control" name="nome" id="inputNome"
                 ng-model="usuario.nome" ng-minlength="3" ng-maxlength="60"ng-required="true" >
          <p ng-show="usuarioForm.nome.$invalid && usuarioForm.submitted" class="text-danger">
            Nome inválido. (3 a 60 caracteres)
          </p>
        </div>

      </div>

      <div class="form-group">
        <label for="inputLogin" class="col-sm-2 control-label">Login: </label>

        <div class="col-xs-6">
          <input type="text" class="form-control" name="login" id="inputLogin"
                 ng-model="usuario.login" ng-minlength="5" ng-maxlength="20"ng-required="true" >
          <p ng-show="usuarioForm.login.$invalid && usuarioForm.submitted" class="text-danger">
            Login inválido. (5 a 20 caracteres)
          </p>
        </div>
      </div>

      <div class="form-group" ng-if="usuario.id == null">
        <label for="inputSenha" class="col-sm-2 control-label">Senha: </label>

        <div class="col-xs-6">
          <input type="text" class="form-control" name="senha" id="inputSenha"
                 ng-model="usuario.senha" ng-minlength="5" ng-maxlength="20"ng-required="true">
          <p ng-show="usuarioForm.senha.$invalid && usuarioForm.submitted" class="text-danger">
            Senha inválida. (5 a 20 caracteres)
          </p>
        </div>
      </div>

      <div class="form-group" >
        <label for="permissoes" class="col-sm-2 control-label">Permissões: </label>

        <div class="col-xs-6">
          <label class="checkbox" ng-repeat="permissao in permissoes" id="permissoes">
            <input type="checkbox" name="selectPermissao[]" value="{{permissao}}"
                   ng-checked="usuario.permissoes.indexOf(permissao) > -1"
                   ng-click="selectPermissao(permissao)">
            {{permissao}}
          </label>

        </div>
      </div>




      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Salvar</button>

          <div class="btn btn-primary" onclick="window.history.back();">Voltar</div>
        </div>

      </div>

    </form>
</div>
